@charset 'UTF-8';

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}


@font-face {
    font-family: forever;
    src: url("fonts/Always Forever.ttf");
}
@font-face {
    font-family: foreverBold;
    src: url("fonts/Always Forever Bold.ttf");
}
	body,input,textarea,select,h1,h2
	{
		font-family: 'Roboto', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		line-height: 1.75em;
		
	}

a{
    text-decoration: none;
    color:black;
}



body {
    margin:0;
     min-height: 60%;
    max-height: 90%;    
  

}
/*********************************************************/
/************************HEADER***************************/
/*********************************************************/
#principal{
    position: relative;
     min-height: 90%;
}

#logo {
    width:110px;
    margin:0;
    float:left;
    margin-top: -80px;
    margin-left: -10px;
}
#logobis{display: none;}
h1{
    padding-top: 10px;
    margin-left: 80px;
    font-weight: 300;
    line-height: 1em;
    font-size: 3em;
    letter-spacing: -0.075em;
}
h2{
    font-weight: 300;
    letter-spacing: -0.075em;
    margin-left:105px;
    margin-top: -40px;
}

#container_header {
    width: 100%;
    height: 65px;
    background: white;
    /*background: linear-gradient(to left, #D0FA58, #F6F286,#D0FA58);*/   
}

#panier_partout{
    position: absolute;
    top:0;
    left:0;
    margin-top: 8px;
    margin-left: 77%;
    width: 50px;
}

#search {
    position: absolute;
    width:40%;
    height: 40px;
    top:0;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 12px;
    padding: 10px 12px;
	outline: none !important;
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em
}
#subsearch {
  display:none;
}
#connecterdiv p{
    position:absolute;
    text-align: right;
    color:gray;
    font-family: "Roboto" sans-serif;
    text-decoration: none;
    right:0; 
    font-size: 16px;
    margin-top: 14px;
    margin-right: 36%;
    font-style:normal;
}

#avatar_little{
    position:absolute;
    width:60px;
    right:0;
    margin-top:4px;
    margin-right: 2%;

}

#connecterdiv,
#connectdiv{
    position: absolute;
    right:0;
    top:0;
    height:65px;
    width: 25%;
    overflow: hidden;
    
}

#connectdiv:hover{
    margin-right: 4px;
    width:365px;
    height: 160px;
    background: white;
    border-bottom:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid gray;

}

#connectdiv #connect{
    position:absolute;
    text-align: right;
    color:gray;
    font-family: "Roboto" sans-serif;
    text-decoration: none;
    right:0; 
    font-size: 18px;
    margin-top: 20px;
    margin-right: 2%;
    font-style:normal;
}


#connectdiv #connect img{
    width: 13px;
}


#connectdiv form{
 margin-top: 65px; 
margin-left: 40px;
    
}
#connectdiv .connect{
    width: 250px;
    height: 26px;
    margin-bottom: 3px;
    top:0;
    margin-left: 10px;
    padding: 10px 12px;
	outline: none !important;
	color: #33383b;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
    background: white;
}

#connectdiv .subconnect{
    position: absolute;
    height:26px;
    width:30px;
    margin-top:80px;
    top:0;
    right:0;
    margin-right: 6%;
    background: white;
    outline: none !important;
	color: #33383b;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em
}

#connectdiv p{
    margin-top: 2px;
    margin-left: 90px;
    font-family:sans-serif;
    font-size: 12px;
    font-style: italic;
    color:dimgrey;

}
 
/*********************************************************/
/**************************NAV****************************/
/*********************************************************/


#nav
	{
     background-color: rgba(1, 1, 1, 0.2);
        height: 70px;
	
    }

#navcontainer
{
      
    background: url("images/carrots.jpg") no-repeat;
    background-size:100%;
    background-position: center;
			top: 0;
			left: 0;
			width: 100%;
        height:70px;
}
		
#nav  ul
		{
			margin: 0;
			padding: 0;
			text-align: center;
		}

#nav  ul  li
		{
			display: inline-block;
			border-right: 1px solid;
			border-color: rgba(255,255,255,.6);
		}
		
#nav ul li:last-child
			{
				padding-right: 0;
				border-right: none;
			}

#nav ul li a,
#nav ul li span
			{
				display: inline-block;
				padding: 1.5em 1.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
                font-weight: 400;
				text-transform: uppercase;
				font-size: 1.1em;
				outline: 0;
				color: #FFF;
			}
#nav ul li:hover{
    background: white;
    opacity: 0.5;

}

#nav ul li a:hover{
    color: black;;

}

/*********************************************************/
/************************ACCUEIL**************************/
/*********************************************************/

#wlcm{ 
    text-align: center;
}

#wlcm i{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -0.075em;
    font-size: 20px;
    display: inline;
}

#presentation{
    width: 94%;
    margin-left: 4%;
    margin-right: 1%;
    height: 350px;
}

#presentation h1{

    width: 45%;
    left:0;
    margin-left: 0;
    border-bottom: 2px dotted gray;
    
}

#presentation p{
       float:left;
    width: 45%;
    text-align: justify;
}

#presentation img{
    float:right;
    width: 40%;
    height: 85%;
    top:0;
    margin-right: 8%;
    margin-top: -70px;
}

#ccm {
    display:inline-block;
    width: 48%;
    margin-left: 3%;
    margin-right: 1%;
    
    vertical-align: top;

}

#ccm h1{
    
    left:0;
    margin-left: 0;
    border-bottom: 2px dotted gray;
    text-align: right;
    
}

#ccm p{

    text-align: justify;
}

#ccmimg{
    display:inline-block;
    width: 40%;
    height: 300px;
    right:0;

    margin-top: 20px;
    margin-left: 4%;
   
    
}


/*********************************************************/
/************************INSCRIPTION**********************/
/*********************************************************/
h3{
   font-weight: 300;
    line-height: 1em;
    font-size: 3em;
    letter-spacing: -0.075em;
   
}

.rgstr-main input[type="text"] {
	width: 30%;
	padding: 10px 12px;
	margin: 7px 5px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;

}
.rgstr-main input.email[type="text"], .rgstr-main input[type="password"] {
	width: 61%;
	padding: 10px 12px;
	margin: 9px 0px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
	
}
.r-submit  {
	background: gray;
	border: 0px;
	font-family: "Roboto",sans-serif;
	padding: 6px 14px;
	outline: none;
	color: white;
	box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.55);
	font-size: 17px;

}
.rgstr-main {
	width: 100%;
	text-align: center;
	top:0;
    
}

.rgstr-main label{
	font-family: 'Roboto',sans-serif;

}
.r-submit {
	margin-top: 1.2em;
    font-family: 'Roboto',sans-serif;
}

#rgstr-plus{
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 200px;
    overflow: hidden;
    margin-bottom: ;
    margin-left:68%;
}
#rgstr-plus a{
    text-align: right;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
    color:gray;
    
}

#rgstr-plus:target {margin-left:auto;height:400px;
width: auto}
#rgstr-plus label{
    display:inline-block;
    width: 29%;
    margin-right: 25px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color:gray;
}

/*********************************************************/
/************************ACTUALITES***********************/
/*********************************************************/

#actgauche{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 1%;
    width: 70%;
    height:auto;
}

#actgauche h1{
        left: 0;
        margin-left: 0;
        padding-left: 50px;
        width: 70%;
        border-bottom:2px solid black;
}
#actgauche p{
        left: 0;
        margin-left: 10px;
        width: 75%;
       text-align: justify;
    

}
#cible {
    display:none;
}
#cible:target {
    width: 60%;
    left:0;
    display:block;
}

#cible1 {
    display:none;
}
#cible1:target {
     width: 60%;
    left:0;
    display:block;
}


#paragraph_text{

	padding: 10px 12px;
	margin: 9px 0px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
}

#comment{
    background: gray;
	border: 0px;
	font-family: "Roboto",sans-serif;
	padding: 6px 14px;
    margin-left: 56%;
    margin-top: 2px;
	outline: none;
	color: white;
	box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.55);
	font-size: 17px;
  
}

#action a{
        display: inline;
        margin-left: 50px;
        text-align: justify;
        font-weight: 500;
        color:rgba(255, 158, 45, 0.75);
    font-weight: 700;

}


#actdroite{
    display: inline-block;
    vertical-align: top;
    right:0;
    top:0;
    margin-top: 2%;
    width: 20%;
    margin-left: 5%;
    height: 460px;
	font-size: 15px;
	border: 1px solid lightgrey;
	border-radius: 0.3em;
}



#actdroite h1{
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom:2px dotted rgba(255, 158, 45, 0.75);
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
     font-family: "Roboto" sans-serif;


}

#actdroite a{
    font-family: "Roboto" sans-serif;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5em;
    border-bottom: 1px dotted black;
    margin-left: 10px;
    color:black;
    
}

#actdroite .lastarticle,#actdroite .moreview,#actdroite .bestblog{
 height: 150px;   
}
/*********************************************************/
/*******************PAGE DE CONNEXION********************/
/*********************************************************/

#connectdivvous{
    width: 100%;
    text-align: center;
}

#connecvs{
font-family: 'Roboto' sans-serif;
    font-size:20px;

}

#no_me {
    display: block;
    right:0;
    text-align: right;
    font-size: 12px;
}

.title_account {
    float:left;
    width:60%;
    right:0;
    margin-left: 12%;
}



#navcompte
	{
     background:rgb(180, 226, 255);
        height: 40px;
        float:left;
        whith:50%;
        margin-left: 21.9%;
        margin-top: 1px;
    }

#navcontainercompte
{
      margin-top: 1px;
    		top: 0;
			left: 0;
			width: 100%;
        height:40px; 
}
		
#navcompte  ul
		{
            top:0;
            margin-top: -14px;
			padding: 0;
			text-align: center;
		}

#navcompte  ul  li
		{
			display: inline-block;
			border-right: 1px solid;
			border-color: rgba(255,255,255,.6);
		}
		
#navcompte ul li:last-child
			{
				padding-right: 0;
				border-right: none;
			}

#navcompte ul li a,
#navcompte ul li span
			{
				display: inline-block;
				padding: 1.5em 1.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
                font-weight: 400;
				text-transform: uppercase;
				font-size: 1.1em;
				outline: 0;
				color: black;
			}


#navcompte ul li a:hover{
    color: white;;

}

#avatar_moyen{
    position: absolute;
    width:120px;
    top:0;
    left:0;
    margin-top: 230px;
    margin-left: 11%;
}

#account_data{
    width: 50%;
    margin-left: 22%;
       margin-top: 60px; 

}


#account_data td{
    font-family: 'Roboto' sans-serif;
    font-size:17px;

         padding-top:20px;
}

#account_data a{

font-family: 'Roboto' sans-serif;
    font-size:14px;
    color:gray;
}

#account_data input{
    height: 25px;
    padding-left: 10px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
    font-size: 15px;
}

#modif_sub{
    
    float:center;
    display: block;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: gray;
	border: 0px;
	font-family: "Roboto",sans-serif;
	padding: 6px 14px;
	outline: none;
	color: white;
	box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.55);
	font-size: 17px;
}


/*********************************************************/
/************************FOOTER***************************/
/*********************************************************/
footer
{
    bottom: 0;
    color: black;
    width:100%;
    border-top: 2px dotted black;
    background-color: #F5F5F5;
    height: 80px;
    overflow: hidden;
    margin-top: 10px;
}


.reseaux {
    width: 130px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: -45px;
}

.reseaux img{
    width: 25px;

}

#copyright{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;

}

#coadmin {
    margin-top: -25px;
    text-align: right;
}

#lien_footer{

    text-align: center;

}

/**************************************
**************ANNONCE*****************
**************************************/


h4,h5,h6,p{
    font-family:"Roboto" sans-serif;
    font-weight: normal;
    
}

h4{
    font-size:16px;
    text-align: center;
    border-bottom: 2px dotted gray;
}

#gauche_annonce{
    float:left;
    margin-top: 10px;
    width: 16%;
    min-width: 100px;
    margin-right: 10px;
    border-right:2px solid gray;
}

#liste_annonces{
    height: 200px;
    overflow: scroll;
}

#droite_annonce{
    margin-top: 20px;
    min-height: 100%;
    width: 82%;
    margin-left: 17%;
    
}

#sub_trierpar,#droite_annonce select,#sub_page,#annonces_pages select{
    background: white;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    color:black;
    border: 0px;
	font-family: "Roboto",sans-serif;
	outline: none;
	box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.55);
	font-size: 12px;
    
}

#triage_annonce,#annonces_pages{
    width: 200px;
    right:0;
    left:0;
    margin-right: 00px;
    margin-left: auto;
}

#article_annonce{  
    width: 60%;
    margin-left: 5%;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
 h5{
    font-size: 16px;
 }
#article_annonce p{
    width: 60%;
    right:0;
    margin-right: 0;
    margin-left: auto;
    min-height: 70px;
    max-height: 100px;
    overflow: scroll;
    text-align: justify;
    
}

#image_article{
    left:0;
    margin-left: 0;
    width: 30%;
    border:1px solid black;
    margin-top:  -110px;
}

#info_produit{
    margin-top: 10px;
    width: 60%;
    border-top:1px dashed black;
}

#info_produit h5{
    margin:0;
}

#ajout_panier{
    border:none;
    height: 40px;
    padding-top:5px;
    font-weight: 700;
    background: white;
    outline: none;
	box-shadow: 1px 1px 1px 1px green;
    
}

#div_ajout_panier{
    float: right;
    display: inline; 
    margin-top: -60px;
    margin-right: 10px;
}

#div_ajout_panier i{
    font-family:'Roboto' sans-serif;
    font-size: 10px;
}


/**********************************************************
**************************PANIER***********************
**********************************************************/

#bodypanier{

}

#monpanier{
    font-size:26px;
    font-weight: 400;
}
#bodypanier > h2{
    left:0;
    margin-left: 14%;
    margin-top:-22px;
    width: 60%;
    font-size:16px;


}

#continuer{
    text-align: right;
    margin-right:3%;
    margin-top:-50px;
}

#bodypanier > #panier{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 4%;
    margin-right: 5%;
    border-bottom:4px solid gray;
    margin-bottom: 40px;
    padding-bottom: 20px;

}

#total{
    position: absolute;
    right:0;
    top:0;
    margin-top:270px;
    width: 26%;
    margin-right: 10%;
    margin-left: 5%;
    background-color:gainsboro;
    min-height:430px;
    max-height: auto;
}

#imgpanier{
    display: inline-block;
    vertical-align: top;
    width:25%;
}

#descriptionpanier{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left:28%;
    margin-top:-115px;
}
#bodypanier span {
    font-family: "Roboto", sans-serif;
    font-size:18px;
}

#descriptionpanier #nom {
    margin-left: 5px;
    font-size: 22px;
}

#vendeurpro{
    font-size: 13px!important;
}

#autre {
    color:darkgray;
    font-size: 14px!important;
}


#Prix_unite {
    position: absolute;
    margin-left:-80px;
    margin-top:-140px;

}

#quantite{
    position: absolute;
    padding:4px;
    margin-left:-10px;
    border: 1px solid gray;
    margin-top:-144px;
}

#prixproduit {
    position: absolute;
    margin-left:60px;
    margin-top:-140px;

}
#delproduit{
    margin-left:240px;
}

#macommande {
    width: 76%;
    min-height:140px;
    max-height: auto;
    padding:20px;
    left:0;
    right:0;
    margin: auto;
    background-color: white;
}

#payercommande {
    width: 87%;
    height:70px;
    background: linear-gradient(to right,#6b98ef, #a9d4ef);
    border:2px solid black;
}




/*********************************************************/
/**********************RESPONSIVE*************************/
/*********************************************************/
/* Mobile Navigation */
.nav-mobile {
    display:none; /* Hide from browsers that don't support media queries */
    cursor:pointer;
    position:absolute;
    top:0;
    right:0;
    background:#34495E url(../img/nav.svg) no-repeat center center;
    height:40px;
    width:40px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

@media screen and (max-width:1050px){
    
 
    
    #search{
        margin-top: 80px;
        left:0;
        margin-left: 10%;
    }
.rgstr{
        margin-top: 70px;
    }
      #connecterdiv,#connectdiv{
        margin-top: 67px;
    width: 200px;;}
    
    .logo{
        width: 70%;
     text-align: center;
        left:0;
        right:0;
        margin: auto;
    }
    #presentation{

    }
    #principe{
        margin-top: 230px;   
    }
    #container_header h1,#container_header h2{margin-left: 0;}
    #logo{display: none;}
    #presentation {
  margin-top: 80px;
}
}

@media screen and (max-width:780px){
    #msgconnexion{
        margin-top: 80px;
    }
    #connecterdiv{
        margin-top: 67px;
    width: 200px;;}
  
      #ccmimg,#principe{
   display: none;
    }
   #presentation p,#presentation h1,#ccm p,#ccm h1{
        width: 90%;   
    }
    #ccm{
    width: 94%;
    }
    #panier_partout{
        width:40px;
        margin-top: 8px;
        margin-left: 82%;
    }
}

@media screen and (max-width:680px){
    #div_ajout_panier{
            float: right;
            display: inline; 
            margin-top: -60px;
            margin-right: -18px;
}
    #droite_annonce{
        margin-left:100px;
        width: auto;
    }
    #article_annonce {
  width: 82%;
    }

}
@media screen and (max-width: 1050px) {
    header{border-bottom: 2px dotted gray;}
	#nav {
        background: none;
		position: relative;
		min-height: 40px;
        max-height: 50px;
	}	
    #navcontainer{background: none;;}
	#nav ul {
		width: 50px;
		padding: 5px 0;
        height: 40px;
        overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
        margin-top:-55px;
        margin-left:3%;
        font-size: 0;
		border: solid 1px #aaa;
		background: #fff url(images/menu17.png) no-repeat 5px 5px;
        background-size:40px 40px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	#nav li {
		display: none; /* hide all <li> items */
		margin: 0;
         color:black;
         border:none;
	}
	#nav .current {
		display: block; /* show only current <li> item */
	}
	#nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
         color:black!important;
	}
	#nav .current a {
		background: none;
         color:black;
	}

	/* on nav hover */
	#nav ul:hover {
		background-image: none;
        height: auto;
        width:auto;
        font-size: 14Px;
        color:black;
	}
	#nav ul:hover li {
		display: block;
		margin: 0 0 5px;
         color:black;
        border:none;
	}
	#nav ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}


	
}

/*********************************************************/
/************************FAQ**************************/
/*********************************************************/
#asidefaq {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    position: fixed;

}

#asidefaq ul li {

}

#sectionfaq {
    margin-left: 20%;
    width: 79%;
    display: inline-block;
}

#sectionfaq h6 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-style: italic;
    padding-top: 20px;
}

#sectionfaq p strong {
    margin-left: -20px;
    text-decoration: underline;
}

#sectionfaq p {
    margin-left: 50px;
}

/*********************************************************/
/************************FORUM**************************/
/*********************************************************/

#techniques{
    display: block;
    width:25%;
    background-color: white;
    left:0;
    right:0;
    margin:auto;
    margin-top: 50px;
    padding-top: 50  

}

#techniques h1{
    
    text-align:center;
    padding:none;
    margin-left:0px!important;

    border-bottom : 2px dotted gray;

    
}

#probleme td{
    
    border: 1px solid black;
}
#probleme table {
    border-collapse: collapse;
    width : 75% ;
    margin-top: 50px; 
    margin-left: 50px; 
}
#probleme th {
    border: 1px solid black;
}

#produits h1{
    
    text-align:center;
    padding:none;
    margin-left:0px!important; 
    border-bottom : 2px dotted gray;
}

#produits{
    display: block;
    width:25%;
    background-color: white;
    left:0;
    right:0;
    margin:auto;
    margin-top: 50px;
    padding-top: 50
}

#problemes td{
    
    border: 1px solid black;
}
#problemes table {
    border-collapse: collapse;
    width : 75% ;
    margin-top: 50px; 
    margin-left: 50px; 
}
#problemes th {
    border: 1px solid black;

}

#tdpseudo {
    height: 150px;
    width: 150px;
}

#tdpseudo h5{
    text-align: center;
    margin-bottom: 100px;
    color: orange; 
}
#tdate {
    width: 150px;
}

#ava {
    position: absolute;
    width:120px;
    top:0;
    left:0;
    margin-top: 230px;
    margin-left: 5%;
    margin-top: 17%;}

#ajout_forum{
    border:none;
    height: 40px;
    padding-top:5px;
    font-weight: 700;
    background: white;
    outline: none;
    box-shadow: 1px 1px 1px 1px orange;
    margin-top: 100px;
    margin-left: 45%;

}
#envoyerques{
    border:none;
    height: 40px;
    padding-top:5px;
    font-weight: 700;
    background: white;
    outline: none;
    box-shadow: 1px 1px 1px 1px orange;
    margin-top: 0px;
    margin-left: 45%;

}

  
/*********************************************************/
/************************FORUM**************************/
/*********************************************************/




#formulairequest{
  width:75%;
  padding: 10px;
  background : #ddd;
  margin:0 auto;
  margin-top: 50px;
}


#formulairequest ul{
padding-left:0px; 
}
#formulairequest li{
 background: #fff; 
 border-radius:5px; 
 list-style:none; 
 padding:5px;
 margin-bottom:20px; 
}



#formulairequest input{
 width:65%; 
 height:30px; 
 border:none;
 padding-left: 1em;
 border-left:1px solid rgb(150,150,150); 
 background:transparent;
 }

#boitemsg{
 width:93%; 
 height:80px;
 padding: 10px;
 border:none; 
 resize : none;
 }

#formulairequest button#btnenvoyer{
  background: #333;
  color: white;
  width:10em;
  height:2.5em;
  margin-left: 450px;
  border:none;
  cursor:pointer; 
  border-radius:5px;

}

#formulairequest button#btnenvoyer:hover{
  background: #FF7C00;
}
/*********************************************************/
/************************BACKOFFICE************************/
/*********************************************************/

#postfaq {
    margin-left: 20%;
}

#postfaq input, #postfaq textarea {
    padding: 10px 12px;
    margin: 7px 5px;
    outline: none !important;
    background: rgba(153, 153, 153, 0.09);
    color: #33383b;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
    border: none;
    border-radius: 0.3em;

}

#formmail {
    margin-left: 20%;
    margin-bottom: 100px;


}

#connect_admin{
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px black ;
    width: 300px;
    height: 300px;
    left:0;
    right:0;
    margin-right: auto;
    margin-left:auto;
    background-color: rgba(248, 253, 255, 0.40);
    margin-top: 10%;
}

#connect_admin input:first-child{
   margin-top: 80px;

}

#connect_admin input{
    opacity:;
    width: 250px;
    margin-bottom: 10px;
    margin-left: 8%;
    padding: 10px 12px;
    outline: none !important;
    background: rgba(153, 153, 153);
    color: #33383b;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
    border: none;
    border-radius: 0.3em;

}


#body_admin{
    background:url('images/carrots.jpg');
}

#membre_data{
    width: 90%;
    margin-left: 22%;
    margin-top: 10px;
    border: 1px solid black;

}


#membre_data td{
    font-family: 'Roboto', sans-serif;
    font-size:17px;
    border: 1px solid black;
    text-align: center;
    padding:0;
}

#membre_data a{

    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color:gray;

}

#account_data input{
    height: 25px;
    padding-left: 10px;
    outline: none !important;
    background: rgba(153, 153, 153, 0.09);
    color: #33383b;
    font-size: 15px;
    min-width: 100px;
    box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
    border: none;
    border-radius: 0.3em;
}






/*********************************************************/
/************************plus************************/
/*********************************************************/
