@charset 'UTF-8';

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}


@font-face {
    font-family: forever;
    src: url("fonts/Always Forever.ttf");
}
@font-face {
    font-family: foreverBold;
    src: url("fonts/Always Forever Bold.ttf");
}
	body,input,textarea,select,h1,h2
	{
		font-family: 'Roboto', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		line-height: 1.75em;
		
	}
a{text-decoration: none;
color:black;}
body {
    margin:0;
    height: 100%;
}
/*********************************************************/
/************************HEADER***************************/
/*********************************************************/
#principal{
    position: relative;
    height: 100%;
}

#logo {
    width:110px;
    margin:0;
    float:left;
    margin-top: -80px;
    margin-left: -10px;
}
#logobis{display: none;}
h1{
    padding-top: 10px;
    margin-left: 80px;
    font-weight: 300;
    line-height: 1em;
    font-size: 3em;
    letter-spacing: -0.075em;
}
h2{
    font-weight: 300;
    letter-spacing: -0.075em;
    margin-left:105px;
    margin-top: -40px;
}

#container_header {
    width: 100%;
    height: 65px;
    background: white;
    /*background: linear-gradient(to left, #D0FA58, #F6F286,#D0FA58);*/   
}


#search {
    position: absolute;
    width:40%;
    height: 40px;
    top:0;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 12px;
    padding: 10px 12px;
	outline: none !important;
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em
}
#subsearch {
  display:none;
}
#connecterdiv p{
    position:absolute;
    text-align: right;
    color:gray;
    font-family: "Roboto" sans-serif;
    text-decoration: none;
    right:0; 
    font-size: 16px;
    margin-top: 14px;
    margin-right: 36%;
    font-style:normal;
}

#avatar_little{
    position:absolute;
    width:60px;
    right:0;
    margin-top:4px;
    margin-right: 2%;

}

#connecterdiv,
#connectdiv{
    position: absolute;
    right:0;
    top:0;
    height:65px;
    width: 30%;
    overflow: hidden;
    
}

#connectdiv:hover{
    margin-right: 4px;
    width:365px;
    height: 160px;
    background: white;
    border-bottom:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid gray;

}
#connectdiv #connect{
    position:absolute;
    text-align: right;
    color:gray;
    font-family: "Roboto" sans-serif;
    text-decoration: none;
    right:0; 
    font-size: 18px;
    margin-top: 20px;
    margin-right: 2%;
    font-style:normal;
}


#connectdiv #connect img{
    width: 13px;
}


#connectdiv form{
 margin-top: 65px; 
margin-left: 40px;
    
}
#connectdiv .connect{
    width: 250px;
    height: 26px;
    margin-bottom: 3px;
    top:0;
    margin-left: 10px;
    padding: 10px 12px;
	outline: none !important;
	color: #33383b;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
    background: white;
}

#connectdiv .subconnect{
    position: absolute;
    height:26px;
    width:30px;
    margin-top:80px;
    top:0;
    right:0;
    margin-right: 6%;
    background: white;
    outline: none !important;
	color: #33383b;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em
}

#connectdiv p{
    margin-top: 2px;
    margin-left: 90px;
    font-family:sans-serif;
    font-size: 12px;
    font-style: italic;
    color:dimgrey;

}
 
/*********************************************************/
/**************************NAV****************************/
/*********************************************************/


#nav
	{
     background-color: rgba(1, 1, 1, 0.2);
        height: 70px;
	
    }

#navcontainer
{
      
    background: url("images/carrots.jpg") no-repeat;
    background-size:100%;
    background-position: center;
			top: 0;
			left: 0;
			width: 100%;
        height:70px;
}
		
#nav  ul
		{
			margin: 0;
			padding: 0;
			text-align: center;
		}

#nav  ul  li
		{
			display: inline-block;
			border-right: 1px solid;
			border-color: rgba(255,255,255,.6);
		}
		
#nav ul li:last-child
			{
				padding-right: 0;
				border-right: none;
			}

#nav ul li a,
#nav ul li span
			{
				display: inline-block;
				padding: 1.5em 1.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
                font-weight: 400;
				text-transform: uppercase;
				font-size: 1.1em;
				outline: 0;
				color: #FFF;
			}
#nav ul li:hover{
    background: white;
    opacity: 0.5;

}

#nav ul li a:hover{
    color: black;;

}

/*********************************************************/
/************************ACCUEIL**************************/
/*********************************************************/

#wlcm{ 
    text-align: center;
}

#wlcm i{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -0.075em;
    font-size: 20px;
    display: inline;
}

#lastproduct {
    margin-top: -50px;
    width: 100%;
}

#presentation{

    width: 100%;

}

#presentation h1{
    width: 47%;
    margin-left: 1%;
    text-align: left;
    left:0;
    border-bottom : 2px dotted gray;

}

#presentation p{
    margin-left: 1%;
    width: 48%;
    text-align:justify;

}

#ccm {
    margin-top: 100px;
width:100%;
right:0;
}
#ccm h1{
    float:right;
    width: 47%;
    margin-right: 2%;
    text-align: right;
    left:0;
    border-bottom : 2px dotted gray;

}

#ccm p{
    float:right;
    margin-right: 2%;
    width: 48%;
    text-align:justify;

}

#principe{
    position: absolute;
    border: 2px dotted gray;
    right:0;
    top:0;
    margin-top: 160px;
    margin-right: 2%;
    width:45%;
    height: 300px;
-webkit-filter: blur(1px);
} 

#ccmimg{
    position: absolute;
    border: 2px dotted gray;
    left:0;
    top:0;
    margin-top: 500px;
    margin-left: 1%;
    width:45%;
    height: 300px;
    -webkit-filter: blur(1px);
    
} 


/*********************************************************/
/************************INSCRIPTION**********************/
/*********************************************************/
h3{
   font-weight: 300;
    line-height: 1em;
    font-size: 3em;
    letter-spacing: -0.075em;
   
}

.rgstr-main input[type="text"] {
	width: 30%;
	padding: 10px 12px;
	margin: 7px 5px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;

}
.rgstr-main input.email[type="text"], .rgstr-main input[type="password"] {
	width: 61%;
	padding: 10px 12px;
	margin: 9px 0px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
	
}
.r-submit  {
	background: gray;
	border: 0px;
	font-family: "Roboto",sans-serif;
	padding: 6px 14px;
	margin: 10px 10px;
	outline: none;
	color: white;
	box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.55);
	font-size: 17px;

}
.rgstr-main {
	width: 100%;
	text-align: center;
	top:0;
    
}

.rgstr-main label{
	font-family: 'Roboto',sans-serif;

}
.r-submit {
	margin-top: 1.2em;
    font-family: 'Roboto',sans-serif;
}

.rgstr-plus{
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 200px;
    overflow: hidden;
    margin-bottom: ;
    margin-left:68%;
}
.rgstr-plus a{
    text-align: right;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
    color:gray;
    
}

.rgstr-plus:hover {margin-left:auto;height:400px;
width: auto}
.rgstr-plus label{
    display:inline-block;
    width: 29%;
    margin-right: 25px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color:gray;
}

/*********************************************************/
/************************ACTUALITES***********************/
/*********************************************************/

#actgauche{
    margin-top: 10px;
    margin-left: 1%;
    width: 75%;
    weight:auto;
    float: left;

}

#actgauche h1{
        left: 0;
        margin-left: 0;
        padding-left: 50px;
        width: 70%;
        border-bottom:2px solid black;
}
#actgauche p{
        left: 0;
        margin-left: 10px;
        width: 75%;
       text-align: justify;
    

}
#cible {
    display:none;
}
#cible:target {
    left:0;
    display:block;
}

#cible1 {
    display:none;
}
#cible1:target {
    left:0;
    display:block;
}


#paragraph_text{

	padding: 10px 12px;
	margin: 9px 0px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
}

#comment{
    background: gray;
	border: 0px;
	font-family: "Roboto",sans-serif;
	padding: 6px 14px;
    margin-left: 56%;
    margin-top: 2px;
	outline: none;
	color: white;
	box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.55);
	font-size: 17px;
  
}

#action a{
        display: inline;
        margin-left: 50px;
        text-align: justify;
        font-weight: 500;
        color:rgba(255, 158, 45, 0.75);
    font-weight: 700;

}


#actdroite{
    position:absolute;
    top:160;
    right:0;
    margin-top:10px;
    margin-right: 3%;
    width: 20%;
    height: 460px;
	font-size: 15px;
	border: 1px solid lightgrey;
	border-radius: 0.3em;
}



#actdroite h1{
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom:2px dotted rgba(255, 158, 45, 0.75);
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
     font-family: "Roboto" sans-serif;


}

#actdroite a{
    font-family: "Roboto" sans-serif;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5em;
    border-bottom: 1px dotted black;
    margin-left: 10px;
    color:black;
    
}

#actdroite .lastarticle,#actdroite .moreview,#actdroite .bestblog{
 height: 150px;   
}
/*********************************************************/
/*******************PAGE DE CONNECTION********************/
/*********************************************************/

#connectdivvous{
    width: 100%;
    text-align: center;
}

#connecvs{
font-family: 'Roboto' sans-serif;
    font-size:20px;

}

#no_me {
    display: block;
    right:0;
    text-align: right;
    font-size: 12px;
}

.title_account {
    float:left;
    width:60%;
    right:0;
    margin-left: 12%;
}

#navcompte
	{
     background:rgb(180, 226, 255);
        height: 40px;
        float:left;
        whith:50%;
        margin-left: 21.9%;
        margin-top: 1px;

	
    }

#navcontainercompte
{
      margin-top: 1px;
    		top: 0;
			left: 0;
			width: 100%;
        height:40px;
    
}
		
#navcompte  ul
		{
            top:0;
            margin-top: -14px;
			padding: 0;
			text-align: center;
		}

#navcompte  ul  li
		{
			display: inline-block;
			border-right: 1px solid;
			border-color: rgba(255,255,255,.6);
		}
		
#navcompte ul li:last-child
			{
				padding-right: 0;
				border-right: none;
			}

#navcompte ul li a,
#navcompte ul li span
			{
				display: inline-block;
				padding: 1.5em 1.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
                font-weight: 400;
				text-transform: uppercase;
				font-size: 1.1em;
				outline: 0;
				color: black;
			}


#navcompte ul li a:hover{
    color: white;;

}

#avatar_moyen{
    position: absolute;
    width:120px;
    top:0;
    left:0;
    margin-top: 230px;
    margin-left: 11%;
}

#account_data{
    width: 50%;
    margin-left: 22%;
       margin-top: 60px; 

}


#account_data td{
    font-family: 'Roboto' sans-serif;
    font-size:17px;

         padding-top:20px;
}

#account_data a{

font-family: 'Roboto' sans-serif;
    font-size:14px;
    color:gray;
}

#account_data input{
    height: 25px;
    padding-left: 10px;
	outline: none !important;
	background: rgba(153, 153, 153, 0.09);
	color: #33383b;
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px rgba(51, 56, 59, 0.35);
	border: none;
	border-radius: 0.3em;
    font-size: 15px;
}

#modif_sub{
    
    float:center;
    display: block;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: gray;
	border: 0px;
	font-family: "Roboto",sans-serif;
	padding: 6px 14px;
	outline: none;
	color: white;
	box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.55);
	font-size: 17px;
}


/*********************************************************/
/************************FOOTER***************************/
/*********************************************************/
footer
{
    /*border : 1px solid red ;*/
    color: black;
    position: absolute bottom;
    margin-top: 5%;
}

#banniere{
    height: 100px;;
    width: 100%;
    border-top: 2px solid gray ;
   
   
      /*  background: url(images/banniereDWE.jpg) 
        background-size: 15%;
        background-position: bottom right;
        opacity: 0.8;*/
      
 
    
}

.reseaux {
    /*border : 1px solid black ;*/
    height: 15%;
    width: 25%;
    margin-left:35%;
    margin-right:35%;
    display: inline;
    vertical-align: top;
}

#copyright{
    /*border : 1px solid black ;*/
    display: inline;
    vertical-align: top;
    margin-top: 25%;
}

.fb{
    height: 30px;
    width: :30px;
}

.twitter{
    height: 30px;
    width: :30px;
}

.contact{
    height: 30px;
    width: :30px;
}

.instragram{
    height: 30px;
    width: :30px;
}

/*********************************************************/
/**********************RESPONSIVE*************************/
/*********************************************************/



@media screen and (max-width:1050px){
    
    #navcontainer,#nav{ 
        display:none;
    }
    #search{
        margin-top: 80px;
        left:0;
        margin-left: 10%;
    }
    #connectdiv,.rgstr{
        margin-top: 70px;
    }
    .logo{
        width: 70%;
     text-align: center;
        left:0;
        right:0;
        margin: auto;
    }
    #presentation{
    margin-top: 100px;
    }
    #principe{
        margin-top: 230px;   
    }
    #ccmimg{margin-top: 550px;}
    #container_header h1,#container_header h2{margin-left: 0;}
    #logo{display: none;}
    
    
    
}

@media screen and (max-width:580px){
    #connecterdiv{
        margin-top: 67px;
    width: 200px;;}
  
      #ccmimg,#principe{
   display: none;
    }
    footer{display: none;}
   #presentation p,#presentation h1,#ccm p,#ccm h1{
        width: 90%;   
    }
}
